[buildout]
extensions =
    buildout.dumppickedversions

develop = .
unzip = true
parts =
    instance
    i18ndude
    omelette
    test
    zopepy
    pylint
    pyflakes
    pep8

extends =
    http://dist.plone.org/release/4.1.2/versions.cfg
    http://good-py.appspot.com/release/dexterity/1.1?plone=4.1.2

find-links =
    http://dist.plone.org/release/4.1.2

versions = versions
newest = false

[instance]
recipe = plone.recipe.zope2instance
user = admin:admin
http-address = 8080
verbose-security = on
environment-vars = zope_i18n_compile_mo_files true
eggs =
    Plone
    Pillow
    sauna.reload
    transmogrify.nitf

zope-conf-additional =
    %import sauna.reload

[i18ndude]
unzip = true
recipe = zc.recipe.egg
eggs = i18ndude

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}

[test]
recipe = zc.recipe.testrunner
eggs =
    Pillow
    transmogrify.nitf [test]
defaults = ['--exit-with-status', '--auto-color', '--auto-progress']

[zopepy]
recipe = zc.recipe.egg
eggs = ${instance:eggs}
interpreter = zopepy
scripts = zopepy

[pylint]
recipe = zc.recipe.egg
eggs =
    pylint
    ${instance:eggs}
entry-points = pylint=pylint.lint:Run
scripts = pylint
arguments = [
    '--output-format=colorized',
    '--zope=y',
    '--reports=no',
#Suppress certain errors (interfaces missing __init__, invalid imports etc)
    '--disable=E0611,F0401,W0232',
    ] + sys.argv[1:]

[pyflakes]
recipe = zc.recipe.egg
scripts = pyflakes
eggs = pyflakes
#pyflakes reads sys.argv directly
entry-points = pyflakes=pyflakes.scripts.pyflakes:main

[pep8]
recipe = zc.recipe.egg
eggs = pep8
